<div class="container">
  <div class="col md-12">
    <h1>Hello from Profile</h1>
    <!-- Default form contact -->
    <form class="text-center border border-light p-5">

      <p class="h4 mb-4">Add your details</p>

      <!-- Name -->
      <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

      <!-- Email -->
      <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

      <!-- Subject -->
      <label>Subject</label>
      <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Feedback</option>
        <option value="2">Report a bug</option>
        <option value="3">Feature request</option>
        <option value="4">Feature request</option>
      </select>

      <!-- Message -->
      <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
      </div>

      <!-- Copy -->
      <div class="row">
        <div class="col-md-6 mx-auto d-flex justify-content-center">

        </div>
      </div>


      <!-- Send button -->
      <button class="btn btn-success" type="submit">Send</button>

    </form>
    <!-- Default form contact -->
  </div>
</div>
